<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.szp.mybatis.plus.mapper.UserDetailMapper">

    <insert id="addUserBatch">
        INSERT INTO user_detail
        (mobile, nickname, create_time)
        VALUES
        <foreach collection="userDetailList" item="user" separator=",">
            (#{user.mobile}, #{user.nickname}, #{user.createTime})
        </foreach>
    </insert>

</mapper>