<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cause.mybatis.springboot.dao.UserMapper">

    <!-- 根据id查询一个Order对象 -->
    <select id="getUsers" resultType="com.cause.mybatis.springboot.model.UserDetail">
        SELECT *
        FROM user_detail
    </select>

    <insert id="addUser" parameterType="com.cause.mybatis.springboot.model.UserDetail">
        insert into user_detail(mobile, nickname)
        values (#{mobile}, #{nickname})
    </insert>

    <insert id="addUserBatch">
        INSERT INTO user_detail
        (mobile, nickname)
        VALUES
        <foreach collection="userDetailList" item="user" separator=",">
            (#{user.mobile}, #{user.nickname})
        </foreach>
    </insert>

</mapper>